#container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 30px;
    width: 70%;
    margin: auto;
    gap: 8px;
    padding: 10px;
    
    background-image: url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
}

#container div {
    border: 1px solid rgb(134, 185, 16);
    margin: auto;
    width: 50%;
    gap: 10px;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10%;
}

.inputBox {
    padding-top: 20px;
    padding-bottom: 20px;
}

input {
    height: 30px;
    width: 20%;
}

button {
    height: 35px;
}